@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&display=swap');

/* Sidebar */

* {
    font-family: 'Poppins', sans-serif;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 20px;
    background-color: #041737 !important;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.sidebar-header {
    text-align: center;
    font-size: 200px;
    font-weight: 500 !important;
}

.sidebar-header h3 {
    margin-bottom: 25px;
    padding: 10px;
    font-weight: 600;
    font-size: 32px;
}

.list-unstyled {
    padding: 0;
}

.list-unstyled li {
    margin: 0;
}

.list-unstyled li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
    transition: background-color 0.3s;
    padding: 25px 25px;
    font-size: 17px;
}

.list-unstyled li a:hover {
    background-color: #27304f;
}

/* / Sidebar / */

/* Content area styles */
#content {
    margin-left: 280px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

#content h1 {
    font-weight: 600;
    font-size: 60px;
    color: #041737;
}

#content h4 {
    color: #041737;
}

.charts {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 420px;
}

#lineChart {
    width: auto;
    padding: 20px;
}

#stackedBarChart {
    width: auto;
    padding: 20px;
}

#pieChart {
    width: 75% !important;
    height: 70% !important;
}

.row {
    display: flex;
    justify-content: center;
    border: 1px solid #0000001b;
    width: 600px;
    height: 100%;
}

.lineDiv {
    width: 50%;
    border: 1px solid #0000001b;
}

.card {
    width: 160px !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    border: none;
}

.card-body {
    padding: 15px 0 20px 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-body h2 {
    font-weight: 600;
}

.card-body p {
    font-weight: 400;
}
